<div class="content-top">
			<div class="wrap">
				<div class="col-md-5 content-left">
					<h1>Tender Management System</h1>
					<div class="border"></div>
					<p>The #1 Stop location for all tenders available online....
						Bid on these online tenders and earn money easily...
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla volutpat sed quam ut luctus. In hac habitasse platea dictumst. 
					Donec id purus elit. Suspendisse eget felis nec mauris placerat convallis.</p>
					<a href="loginPublic.jsp" class="hvr-rectangle-out button">LOGIN</a>
					<a href="adminLogin.jsp" class="hvr-rectangle-out button">LOGIN AS ADMIN</a><br/>
					<a href="createVendorAdmin.jsp"class="hvr-rectangle-in button more-mar">REGISTER AS VENDOR</a>
				</div>
				<div class="col-md-7 content-right">
					<!-- responsiveslides -->
						<script src="template/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								 // Slideshow 4
								$("#slider3").responsiveSlides({
									auto: true,
									pager: true,
									nav: false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
								$('.events').append("<li>before event fired.</li>");
								},
								after: function () {
									$('.events').append("<li>after event fired.</li>");
									}
									});
									});
							</script>
					<!-- responsiveslides -->
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="slider-image">
									<img src="template/images/444.jpg" alt=""/>
								</div>
							</li>
							<li>
								<div class="slider-image">
									<img src="template/images/pic3.jpg" alt=""/>
								</div>
							</li>
							<li>
								<div class="slider-image">
									<img src="template/images/555.jpg" alt=""/>
								</div>
							</li>
							<li>
								<div class="slider-image">
									<img src="template/images/444.jpg" alt=""/>
								</div>
							</li>
							<li>
								<div class="slider-image">
									<img src="template/images/pic3.jpg" alt=""/>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>