<div class="register">
					<div class="reg-header">
						<h2>Register your Account</h2>
						<div class="strip"></div>						
					</div>
					<div class="register-grids">
						<div class="register-left">
							<img src="images/hhh.jpg" alt=""/>
							<input type="submit" value="Upload"> a photo
							 <input type="file" value="Choose file..">
						</div>
						<div class="register-right">
							<div class="user-form">
								<form>
										<h3>TENDER NAME</h3>
										<input type="text" value="tender name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'tender name';}" required="" name="tName">
										<h3>EMAIL ADDRESS</h3>
										<input type="text" value="name@email.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'name@email.com';}" required="">
										<h3>CHOOSE PASSWORD</h3>
										<input type="password" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}" required="">
										<h3>CONFIRM PASSWORD</h3>
										<input type="password" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}" required="">
										<h3>DATE OF BIRTH</h3>
										<ul>
											<li>
												<input type="number" class="text_box" type="text" value="28" min="1" />	
											</li>
											<li>
												<input type="number" class="text_box" type="text" value="06" min="01" />	
											</li>
											<li>
												<input type="number" class="text_box" type="text" value="1988" min="1" />	
											</li>
											<div class="clearfix"></div>
										</ul>
								</form>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="form-btm">
						<form>
							<div class="form-left">
								<label><input type="checkbox" name="checkbox" checked=""><i>Recieve weekly newsletter?</i></label>
							</div>
							<div class="form-right">
								<input type="submit" value="SUBMIT">
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>