

<div class="shopping-chart">
					<div class="shop-header">
						<h3>Shopping Chart</h3>
						<div class="strip"></div>						
					</div>
					<ul>
						<li>
							<div class="shop-grids">
								<div class="shop-img">
									<img src="images/eee.jpg" alt=""/>
								</div>
								<div class="shop-info">
									<h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h4>
									<p>Apple</p>
								</div>
								<div class="shop-price">
									<p>$699.00</p>
								</div>
								<div class="shop-count">
									<p>1</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="shop-grids">
								<div class="shop-img">
									<img src="images/fff.jpg" alt=""/>
								</div>
								<div class="shop-info">
									<h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h4>
									<p>Apple</p>
								</div>
								<div class="shop-price">
									<p>$699.00</p>
								</div>
								<div class="shop-count">
									<p>1</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="shop-grids">
								<div class="shop-img">
									<img src="images/ggg.jpg" alt=""/>
								</div>
								<div class="shop-info">
									<h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </h4>
									<p>Apple</p>
								</div>
								<div class="shop-price">
									<p>$699.00</p>
								</div>
								<div class="shop-count">
									<p>1</p>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
					</ul>
					<a href="#" class="cont-mar">CONTINUE SHOPPING</a>
					<a href="#" class="check-out">CHECKOUT</a>
				</div>